@import '~antd/dist/antd.css';

body{
  background-color: #F8F8F8;
}

.table{
  margin: 20px 0;
}

.page-body{
  margin: 0 auto;
  width: 80%;
  font-size: 12pt;
}

.ant-menu.ant-menu-horizontal.ant-menu-light.ant-menu-root{
  text-align: center;
  font-size: 14pt;
}

li.ant-menu-item{
  display: inline-block;
  float: none !important;
}

.section-1{
  border: 1px solid #f7f7f7;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.disabled{
  color: #95a5a6
}

.section-1-header{
  margin: 40px 0 0 0;
  border: 1px solid #f7f7f7;
  border-radius: 5px 5px 0 0;
  padding: 16px;
  text-align: center;
  background-color: #f7f7f7;
}

.hidden-overflow{
  overflow: hidden;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.background-div{
  background-color: #bdc3c7;
  color: white;
  word-wrap: break-word;
  overflow:hidden;
  white-space: nowrap;
  padding: 2px 5px;
  border-radius: 2px;
}

.foreground-div{
  padding: 2px 5px;
}

.col8{
  float: left;
  width: 16%;
  margin: .3%;
  //padding: .3%;
  cursor: pointer;
}

.text1{
  font-size: 10pt
}

.text-spacing{
  letter-spacing: 1px;
}

.button-div{
  margin-top: 20px;
  text-align: center;
}

.align-center{
  text-align: center;
}

.anchor-div{
  position: absolute;
  left: 10px;

}

.button-spaging-horizontal{
  margin: 0 10px;
}

.green{
  color: #27ae60
}

.red{
  color: #c0392b
}

/*Graphs*/
.axis line{
  stroke: #95a5a6;
}

.axis path{
  stroke: #95a5a6;
}

.axis text{
  fill: #95a5a6;
}

.line{
  fill: none;
  stroke: #2980b9;
  stroke-width: 1px;
}

.target-line{
  fill: none;
  stroke: #95a5a6;
  stroke-width: 1px;
}

@media all and (max-width: 768px) {
  .wide-screen-only{
    display: none;
  }
}
