@import '~antd/dist/antd.css';

.table{
  margin: 20px 0;
}

.page-body{
  margin: 0 auto;
  width: 80%;
  font-size: 12pt;
}

.ant-menu.ant-menu-horizontal.ant-menu-light.ant-menu-root{
  text-align: center;
  font-size: 14pt;
}

li.ant-menu-item{
  display: inline-block;
  float: none !important;
}

.section-1{
  border: 1px solid #f7f7f7;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.section-1-header{
  margin: 40px 0 0 0;
  border: 1px solid #f7f7f7;
  border-radius: 5px 5px 0 0;
  padding: 16px;
  text-align: center;
  background-color: #f7f7f7;
}

.text-spacing{
  letter-spacing: 1px;
}

.button-div{
  margin-top: 20px;
  text-align: center;
}

.align-center{
  text-align: center;
}

.anchor-div{
  position: absolute;
  left: 10px;

}

.button-spaging-horizontal{
  margin: 0 10px;
}
